body {
    background-image: url(./Assets/Images/yuma-background-2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.icons{
    height: 75px;
    width: 75px;
    margin-left: 5px;
    margin-bottom: 15px;
}
div.transparentBox{
    background-color: white;
    opacity: .7;
}
div.transparentBox p {
    font-weight: bold;
    color: black;
}
/* media query for mobile front page, dont want to scroll for links make all one page */
@media only screen and (max-width: 768px) {
    .profpic{
        height: 250px;
        width: 250px;
    }
    .icons{
        height: 50px;
        width: 50px;
        margin-left: 5px;
        margin-bottom: 15px;
    }
}
